<mat-card class="campaign-card">
  <img
    mat-card-image
    src="https://material.angular.io/assets/img/examples/shiba2.jpg"
    alt="Photo of Campaign"
  />
  <mat-card-content>
    <p></p>
    <p>Shiba Inu</p>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz
      breeds of dog from Japan. A small, agile dog that copes very well with
      mountainous terrain, the Shiba Inu was originally bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="openCampaignDetails()" class="invest-btn">...More</button>
  </mat-card-actions>
</mat-card>
