.main-content {
  padding-top: 116px;
  min-height: calc(100vh - 41px);
}

.main-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(src/assets/15.png) repeat; /* Specify the background image URL and set it to repeat */
  opacity: 0.6; /* Adjust the opacity value to make the image lighter */
  z-index: -1; /* Ensure the pseudo-element is placed below the content */
}

.remaining-days-heading {
  background-color: #d4e9f7;
  text-align: center;
}

.main-content {
  padding-top: 10px;
  padding-bottom: 100px;
}

.section-content-p30 {
  padding: 0 30px;
}

.section-content {
  position: relative;
  margin: 0 auto;
  z-index: 1;
}

.price {
  margin: 15px 0 0;
  font-weight: 800;
  color: #0da8e4;
}

h4 {
  font-size: 18px;
}

img {
  max-width: 100%;
  height: auto;
}


.remaining-days-block {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
  /* height: 18.7%; */
}

.remaining-days-heading {
  font-size: 19px;
  margin-bottom: 11px;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 10px;
}

.remaining-days-number {
  font-size: 24px;
  font-weight: bold;
}

.reminder {
  font-size: 17px;
  margin-top: 10px;
  text-align: left;
}

.btnWithdrawTerminate {
  margin-left: 32px;
  position: relative;
  background-color: transparent;
}

.radio-group {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.btn-new {
  text-align: center;
}

input[type="number"]::after {
  content: " ETH";
  position: absolute;
  right: 10px;
}

.row {
  padding-top: 0px;
  max-height: fit-content;
}

.newForm {
  background-color: #f2f2f2;
}

.btnNew {
  padding-left: 138px;
}
