<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="  ">
      <div class="row">
        <div>
          <div class="row">
            <div class="col-md-4">
              <div class="remaining-days-block">
                <h2 class="remaining-days-heading">Total Remaining Days</h2>
                <p class="remaining-days-number">
                  {{ this.campaignInfo[0].deadline }}
                </p>
              </div>

              <div class="remaining-days-block">
                <h2 class="remaining-days-heading">Total Token Issued / Price</h2>
                <p class="remaining-days-number">
                  {{ this.campaignInfo[0].tokenSupply }} / {{ this.tokenPrice }}ETH
                </p>
              </div>

              <div class="remaining-days-block">
                <h2 class="remaining-days-heading">Token Remaining</h2>
                <p class="remaining-days-number">
                  {{ this.campaignInfo[1].tokenRemain }}
                </p>
              </div>
            </div>
            <div class="col-md-4 picture">
              <img
                src="{{ this.campaignInfo[0].profileImage }}"
                onerror="this.src='https://i.imgur.com/YwQA7Lx.png'"
                style="height: 350px; width: 350px; object-fit: cover"
              />
            </div>
            <div class="col-md-4">
              <div
                class="newForm"
                *ngIf="this.isFormVisible && !this.isWithdrawVisible"
              >
                <form
                  [formGroup]="myForm"
                  (ngSubmit)="onSubmitForm()"
                  class="border p-3 rounded-3"
                >
                  <div class="content">
                    <div class="row g-0">
                      <div class="col text-center p-2 mb-3 bg-light">
                        <span class="fs-5"
                          >What action would you like to do?</span
                        >
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <label for="radio" class="form-label"
                      >Action to be performed :
                    </label>
                    <br />
                    <div class="col radio-group">
                      <label>
                        <input
                          type="radio"
                          formControlName="actionPrice"
                          value="invest"
                          name="actionPrice"
                        />
                        Invest
                      </label>
                      <label>
                        <input
                          type="radio"
                          formControlName="actionPrice"
                          value="withdraw"
                          name="actionPrice"
                        />
                        Withdraw
                      </label>
                    </div>
                  </div>
                  <br />
                  <div class="row">
                    <div class="col">
                      <label for="tokens" class="form-label"
                        >Number of Tokens needed</label
                      >
                      <input
                        type="number"
                        step="1"
                        class="form-control"
                        id="amount"
                        formControlName="tokens"
                      />
                    </div>
                  </div>
                  <br />
                  <div mat-dialog-actions class="row">
                    <div class="col btnNew">
                      <button
                        type="submit"
                        class="btn btn-primary btn-submit"
                        [disabled]="isFormDisabled"
                      >
                        Submit
                      </button>
                    </div>
                  </div>
                  <br />
                </form>
              </div>
              <div
                class="campaignCreator border p-3 rounded-3"
                *ngIf="!this.isFormVisible && !this.isWithdrawVisible"
              >
                <div class="content">
                  <div class="row g-0">
                    <div class="col text-center p-2 mb-3 bg-light">
                      <span class="fs-5"
                        >What action would you like to do?</span
                      >
                    </div>
                  </div>
                  <div mat-dialog-actions class="row">
                    <div class="col btnWithdrawTerminate">
                      <button
                        type="submit"
                        class="btn btn-primary btn-submit"
                        [disabled]="isWithdrawButtonDisabled"
                        (click)="onSubmitWithdraw()"
                      >
                        Withdraw
                      </button>
                    </div>
                    <div class="col btnWithdrawTerminate">
                      <button
                        type="submit"
                        class="btn btn-primary btn-submit"
                        [disabled]="isTerminateButtonDisabled"
                        (click)="onSubmitTerminate()"
                      >
                        Terminate
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="campaignCreator border p-3 rounded-3"
                *ngIf="!this.isFormVisible && this.isWithdrawVisible"
              >
                <div class="content">
                  <div class="row g-0">
                    <div class="col text-center p-2 mb-3 bg-light">
                      <span class="fs-5"
                        ><p class="reminder">
                          The campaign has been terminated.
                        </p>
                        <p class="reminder">
                          Kindly withdraw your money if invested.
                        </p>
                      </span>
                    </div>
                  </div>
                  <div mat-dialog-actions class="row">
                    <div class="col btnWithdraw" style="margin-left: 126px">
                      <button
                        type="submit"
                        class="btn btn-primary btn-submit"
                        (click)="onSubmitWithdrawTerminated()"
                      >
                        Withdraw
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-md-8 cam-description">
                <div class="hidden values" hidden>
                  {{ this.campaignInfo[0].remainNumOfTokens }}
                  {{ this.campaignInfo[0].totalNumOfTokens }}
                  {{ this.campaignInfo[0].tokenPrice }}
                  {{ this.campaignInfo[0].campaignAddress }}
                </div>
                <div class="creator">
                  <h4>Campaign Creator</h4>
                  <p>{{ this.campaignInfo[0].owner }}</p>
                </div>
                <div class="tokenAddress">
                    <h4>Token Address</h4>
                    <p>{{ this.tokenAddress }}</p>
                  </div>
                <br />
                <div class="title">
                  <h4>Campaign Title</h4>
                  <p>{{ this.campaignInfo[0].title }}</p>
                </div>
                <br />
                <div class="description">
                  <h4>Campaign Description</h4>
                  <p>{{ this.campaignInfo[0].description }}</p>
                </div>
                <br />
                <div class="donators">
                  <!-- <h4>List of Donators:</h4>
                  <ul>
                    <li *ngFor="let item of items">{{ item }}</li>
                  </ul> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
