<form
  [formGroup]="camForm"
  (ngSubmit)="campaignSubmitted()"
  class="border p-3 rounded-3"
  id="campaignForm"
  [ngClass]="{'loading': isLoading}"
>
  <div class="content">
    <div class="row g-0">
      <div class="col text-center p-2 mb-3 bg-light">
        <span class="fs-3 formTitle">Campaign Form</span>
      </div>
    </div>
    <div class="row">
      <div class="col" style="margin-bottom: 0">
        <label for="campaignTitle" class="form-label">Campaign Title</label>
        <input
          type="text"
          class="form-control"
          id="campaignTitle"
          formControlName="campaignTitle"
        />
        <div
          class="form-text text-danger"
          *ngIf="CampaignTitle.errors?.['required'] && (CampaignTitle.touched || CampaignTitle.dirty)"
        >
          Campaign Title is Required
        </div>
        <div
          class="form-text text-danger"
          *ngIf="CampaignTitle.errors?.['minlengh'] && (CampaignTitle.touched || CampaignTitle.dirty)"
        >
          Campaign Title is too short
        </div>
      </div>
      <div class="col">
        <label for="endDate" class="form-label">End Date</label>
        <input
          type="date"
          class="form-control"
          id="endDate"
          formControlName="endDate"
        />
        <div
          class="form-text text-danger"
          *ngIf="EndDate.errors?.['required'] && (EndDate.touched || EndDate.dirty)"
        >
          End Date is Required
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col mb-3">
        <label for="description" class="content">Campaign Description</label>
        <textarea
          name="text"
          cols="40"
          rows="5"
          class="form-control"
          id="description"
          formControlName="description"
        ></textarea>
        <div
          class="form-text text-danger"
          *ngIf="Description.errors?.['required'] && (Description.touched || Description.dirty)"
        >
          Description is Required
        </div>
        <div
          class="form-text text-danger"
          *ngIf="Description.errors?.['minlengh'] && (Description.touched || Description.dirty)"
        >
          Description is too short
        </div>
        <div
          class="form-text text-danger"
          *ngIf="Description.errors?.['maxlengh'] && (Description.touched || Description.dirty)"
        >
          Description is too big
        </div>
      </div>
    </div>
    <div #spinner class="spinner"></div>
    <div class="row">
      <div class="col">
        <label for="noTokens" class="form-label">No of Tokens</label>
        <input
          type="number"
          class="form-control"
          id="noTokens"
          formControlName="noTokens"
        />
        <div
          class="form-text text-danger"
          *ngIf="NoTokens.errors?.['required'] && (NoTokens.touched || NoTokens.dirty)"
        >
          Number of Tokens is Required
        </div>
      </div>
      <div class="col">
        <label for="tokenPrice" class="form-label">Token Price</label>
        <input
          type="number"
          step="0.01"
          class="form-control"
          id="tokenPrice"
          formControlName="tokenPrice"
        />
        <div
          class="form-text text-danger"
          *ngIf="TokenPrice.errors?.['required'] && (TokenPrice.touched || TokenPrice.dirty)"
        >
          Token Price is Required
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col" style="margin-bottom: 1">
        <label for="tokenName" class="form-label">Token Name</label>
        <input
          type="text"
          class="form-control"
          id="tokenName"
          formControlName="tokenName"
        />       
      </div>
      <div class="col" style="margin-bottom: 1">
        <label for="tokenSymbol" class="form-label">Token Symbol</label>
        <input
          type="text"
          class="form-control"
          id="tokenSymbol"
          formControlName="tokenSymbol"
        />        
      </div>     
    </div>
    <div class="row">
      <div class="col mb-3">
        <label for="profileImage" class="form-label">Campaign Image URL</label>
        <input
          type="text"
          class="form-control"
          id="profileImage"
          formControlName="profileImage"
        />
        <div
          class="form-text text-danger"
          *ngIf="profileImage.errors?.['required'] && (profileImage.touched || profileImage.dirty)"
        >
          Image URL is Required
        </div>
      </div>
    </div>
    <div mat-dialog-actions class="row">
      <div class="col-md-6 offset-3 button_Wrapper">
        <button
          type="submit"
          class="btn btn-primary btn-submit"
        >
          Submit
        </button>
        <button
          type="button"
          class="btn btn-primary btn-cancel"
          [mat-dialog-close]="false"
        >
          Cancel
        </button>
      </div>
    </div>
  </div>
</form>
