.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navBar {
  justify-content: space-between;
}

.example-spacer {
  flex: 1 1 auto;
}

.spacer {
  width: 1%;
}

.content {
  padding-top: 1%;
}

.search-content {
  padding-top: 1%;
  padding-left: 1%;
}