.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navBar {
  justify-content: space-between;
}
.example-spacer {
  flex: 1 1 auto;
}

.content {
  padding-top: 1%;
}