.secSlogan {
  background-image: url('src/assets/Frame 1.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.slogan1 {
  color: rgb(0, 0, 0);
  font-family: Poppins;
  font-size: 32px;
  font-weight: bold;
  padding-top: 25vh;
  padding-left: 45vh;
  text-align: left;
}

.slogan2 {
  color: rgb(0, 0, 0);
  font-family: Poppins;
  font-size: 32px;
  font-weight: bold;
  padding-top: 3%;
  padding-right: 50vh;
  text-align: right;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3%;
}

.cta-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #59af3c;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #5374d8;
  color: #ffffff;
}

.cta-button:active {
  background-color: #59af3c;
}

.hover-button {
  display: inline-block;
  padding: 10px 20px;
  margin-left: 20vh;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #000000;
  background-color: transparent;
  border-radius: 4px;
  border: 2px solid #000000;
  cursor: pointer;
  transition: color 0.3s ease;
}

.hover-button:active {
  color: #ffffff;
  background-color: #000000;
}

.secCampaign {
  background-color: white;
  height: 100vh;
  padding-left: 1%;
  padding-right: 1%;
}

.title {
  font-size: 24px;
  font-weight: bold;
  padding-top: 2%;
  padding-left: 1%;
}

.swiper {
  height: 1200px;
  padding-left: 50px;
}


.secAboutus {
  padding-left: 1%;
  padding-right: 1%;
  text-align: justify;
}

.containerAboutUs {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}
