.secSlogan {
  background-color: #000117;
  height: 300px;
}

.slogan1 {
  color: white;
  font-size: 48px;
  font-weight: bold;
  padding-top: 6.3%;
  padding-left: 5%;
  text-align: left;
}

.slogan2 {
  color: white;
  font-size: 48px;
  font-weight: bold;
  padding-top: 7%;
  padding-right: 5%;
  text-align: right;
}

.secCampaign {
  background-color: white;
  padding-left: 1%;
  padding-right: 1%;
}

.title {
  font-size: 24px;
  font-weight: bold;
  padding-top: 2%;
  padding-left: 1%;
}

.swiper {
  height: 500px;
  padding-left: 50px;
}

.secAboutus {
  padding-left: 1%;
  padding-right: 1%;
  text-align: justify;
}

.containerAboutUs {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}
