<mat-sidenav-container>
  <mat-sidenav-content fxLayout="row Wrap" fxLayoutAlign="space-around">
    <div class="content"><app-campaign></app-campaign></div>
    <div class="content"><app-campaign></app-campaign></div>
    <div class="content"><app-campaign></app-campaign></div>
    <div class="content"><app-campaign></app-campaign></div> 
    <div class="content"><app-campaign></app-campaign></div>
    <div class="content"><app-campaign></app-campaign></div>
    <div class="content"><app-campaign></app-campaign></div>
    <div class="content"><app-campaign></app-campaign></div>
    <div class="content"><app-campaign></app-campaign></div>      
  </mat-sidenav-content>
</mat-sidenav-container>

